
#line{
    color : #606060;
}

#line_2{
    background-color : #606060;
}

#line_3{
    background-color : #606060;
}

#line_4{
    background-color : #606060;
}

#line_5{
    background-color : #606060;
}

#line_6{
    background-color : #606060;
}
